* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Header Start */
.header-bg-color {
  width: 1440px;
  height: 672px;
  background-color: #FFC9BA;
  margin-inline: auto;
  margin-bottom: 56px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 165px;
}

header img {
  margin-top: 20px;
}

.nav-right {
  display: flex;
  gap: 32px;
}

/* Header End */

/* Hero Start */
.hero-content {
  display: flex;
  align-items: center;
}

.hero-text {
  width: 373px;
  margin-right: 24px;
  margin-left: 165px;
}

.hero-text h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 16px;
}

.hero-text p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 32px;
}

.hero-btn {
  display: flex;
  align-items: center;
}

.hero-text a {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  text-decoration: none;
  color: black;
}

.hero-img {
  margin-right: 151px;
  margin-top: 168px;
}

/* Hero End */


/* Genel Container */
.container {
  width: 1110px;
  margin-inline: auto;
}

/* Genel Container */


/* Trusted Logo Start */
.trusted-logos p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 24px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

/* Trusted logo End */

/* Green sofa & Lamb Start */
.sofa-lamb-section {
  display: flex;
  gap: 24px;
  margin-bottom: 128px;
}

/* Green sofa & Lamb End */


/* Featured Products Start */
.prod-h3 {
  margin-bottom: 20px;
}

.featured-products {
  display: flex;
  gap: 80px;
  border-top: 1px solid #EAEAEA;
  padding-top: 24px;
  margin-bottom: 128px;
}

.featured-products img {
  margin-bottom: 12px;
}

.featured-products p {
  font-family: "Open Sans";
  color: #807E7E;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0px;
  margin-bottom: 4px;
}

.featured-products h4 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 8px;
}

.featured-products span {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
}

/* Featured Products End */


/* Sofa Armin Start */
.sofa-armin {
  display: flex;
  margin-bottom: 136px;
}

.text-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 438px;
  background-color: #FAFAFB;
}

.sofa-text {
  width: 287px;
  background-color: #FAFAFB;
}

.sofa-text h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.35px;
  margin-bottom: 8px;
}

.sofa-text p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 40px;
}

.sofa-btn {
  display: flex;
}

.sofa-text a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
}

/* Sofa Armin End */


/* Featured Products v2 Start */
.featured-v2-h3 {
  margin-bottom: 20px;
}

.featured-v2 {
  border-top: 1px solid #EAEAEA;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 136px;
}

.featured-v2 img {
  display: block;
}
/* Featured Products v2 End */


/* Latest Articles Start */
.latest-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
}

.latest-h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 24px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-section a {
  background: url(../img/arrow.svg) no-repeat;
  background-position: right center;
  text-decoration: none;
  color: inherit;
  padding-right: 20px;
}

.latest-section img {
  margin-bottom: 16px;
}

.latest-section p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0px;
  margin-bottom: 3px;
  color: #807E7E;
}

.latest-section h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
}
/* Latest Articles End */


/* Footer Top Start */
footer {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  padding-inline: 165px;
  padding-block: 72px;
  margin-bottom: 24px;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.footer-left {
  width: 500px;
  margin-left: 165px;
}

.footer-left img {
  margin-bottom: 24px;
}

.footer-left p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}

.footer-right {
  margin-right: 165px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links li,
ul {
  align-items: center;
  list-style-type: none;
  padding-block: 8px;
}

.footer-links ul {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}

.footer-links ul li a {
  color: #807E7E
}
/* Footer Top End */

/* Footer Bottom Start */
.footer-bottom {
  display: flex;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-copy {
  margin-left: auto;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}

/* Footer Bottom End */